*,
*::before,
*::after {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

button {
  cursor: pointer;
}

img[data-src] {
  opacity: 0;
}

body {
  font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: #111111;
  color: #fff;
}

body a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

body ul {
  list-style-type: none;
}

/* (B) SIMPLE BOUNCE */
@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
 
.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.bounce:hover {
  animation: none;
}

.main--wrapper {
  background: url("../img/bg-second-min.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.second--wrapper {
  background: url("./../img/bg-third-min.png");
  width: 100%;
  height: 100%;
  display: block;
}

section.header {
  width: 100%;
  height: 100%;
  background: url("./../img/bg-main-min.png");
  background-size: cover;
}

.header--menu {
  padding: 15px 250px;
}

.header--socials {
  margin: 0 3rem;
}

.header--socials ul {
  padding: 0;
}

.header--menu,
.header--links ul,
.header--socials ul,
.header--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--links ul li {
  white-space: nowrap;
  padding: 0 40px;
}

.header--logo img {
  width: 2.5rem;
}

.header--socials ul li img {
  width: 24px;
}

.header--links-item {
  font-size: 12pt;
}

.header--socials ul li {
  padding: 0 10px;
}

a.header--button {
  display: flex;
  font-size: 12pt;
  font-weight: 500;
}

a.header--button img {
  margin-left: 0.5rem;
}

a.header--button-main {
  color: #e03535;
  border: 1px solid #e03535;
  border-radius: 10px;
  padding: 12px 43px;
  margin-left: 32px;
}

.header--body {
  text-align: center;
  color: #000;
  margin: 200px 400px;
}

.header--body h1.header--title {
  font-weight: 600;
  margin: 0;
  font-size: 48pt;
  color: #f8f8f8;
}

.header--body h2.header--subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #ffffff;
  margin-bottom: 45px;
}

.header--button-first {
  background: #e03535;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  padding: 15px 40px;
  font-weight: 400;
}

.header--button-first img {
  margin-left: 10px;
  width: 16px;
  padding-top: 10px;
}

.header--button-second {
  margin-left: 30px;
  background: #111111;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
  vertical-align: middle;
  padding: 15px 40px;
}

.header--button-second img {
  margin-left: 10px;
  width: 16px;
  padding-top: 10px;
}

.header--icon-down {
  padding-top: 150px;
  margin: auto;
  display: block;
  width: 15px;
}

.advantages {
  margin: -100px 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.advantages--item {
  padding: 30px;
  color: #f8f8f8;
  background: rgba(17, 17, 17, 0.5);
  border: 1px solid #4b4b4b;
  backdrop-filter: blur(25px);
  border-radius: 15px;
}

.advantages--item:nth-child(2n) {
  margin: 0 10px;
}

.advantages--image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advantages--image img {
  width: 7.5rem;
}

.advantages--header {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20pt;
  line-height: 43px;
}

.advantages--desc {
  font-style: normal;
  font-weight: 300;
  font-size: 14pt;
  line-height: 160%;

  color: #a4a4a4;
}

.video {
  padding: 12.5rem;
  max-width: 100%;
}

.video--title {
  font-weight: 500;
  font-size: 24pt;
  margin-bottom: 0.75rem;
  color: #f8f8f8;
}

.video--subtitle {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 0.02em;

  color: #a4a4a4;
}

.video--content iframe {
  display: block;
  width: 100%;
}



.roles {
  padding: 7.5rem 0 12.5rem 12.5rem;
}

.slider--wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider--content {
  width: 55%;
}

.slider--image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider--counter {
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;

  color: #2d2d2d;
}

.slider--item {
  display: none;
  padding: 2.5rem 2.5rem 2.5rem 0;
}

.slider--image-content {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 100%;
  height: 30rem;
  display: none;
}

button.slider--right-link,
button.slider--left-link {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider--item:nth-child(1),
.slider--image-content:nth-child(1) {
  display: block;
}

.slider--item-header {
  font-weight: 400;
  font-size: 24pt;

  color: #f8f8f8;
}

.slider--item-desc {
  line-height: 160%;
  font-weight: 300;
  font-size: 14pt;

  color: #a4a4a4;
}

.slider--link {
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 0.02em;
  color: #e03535;
  transition: 0.4s;
}

.slider--link img {
  margin-left: 0.25rem;
  vertical-align: middle;
  width: 1.25rem;
}

.slider--link:hover {
  text-decoration: underline;
}

.slider--controls {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 12.5rem;
}

.slider--counter-el {
  font-weight: 500;
  font-size: 16pt;

  letter-spacing: 0.02em;
  color: #5e5e5e;
}

.slider--counter-active {
  color: #fff;
  font-size: 20pt;
}

.connect {
  margin: 12.5rem;
}

.connect--wrapper {
  background: url("../img/bg-connect.png") no-repeat;
  background-size: cover;
  padding: 3.25rem 12.5rem 4rem 3.5rem;
  border: 1px solid #303030;
  border-radius: 20px;
}



@media(max-width: 1200px) {
  .connect {
    margin: 5.5rem;
  }
}

@media(max-width: 870px) {
  .connect {
    margin: 5.5rem .5rem;
  }
}

.connect--title {
  font-weight: 500;
  font-size: 24pt;
  color: #f8f8f8;
}

.connect--desc {
  font-weight: 400;
  font-size: 14pt;
  line-height: 160%;
  color: #a4a4a4;
}

.connect--button-main {
  background: #e03535;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  padding: 1rem;
  font-weight: 300;
}

.connect--buttons {
  margin: 2.5rem 0;
}

.connect--button-secondary {
  margin-left: 2.5rem;
  background: #111111;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  padding: 1rem 2.5rem;
  font-weight: 300;
}

.gallery {
  padding: 12.5rem;
}

.gallery--title {
  font-weight: 500;
  font-size: 24pt;
  line-height: 57px;

  color: #f8f8f8;
}

a.gallery--category {
  margin-right: 2.5rem;
  font-weight: 400;
  font-size: 14pt;
  color: #5e5e5e;
}

.gallery-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery--category.active {
  color: #f8f8f8;
}

.gallery--content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  grid-auto-rows: 1fr;
}

.gallery--buttons {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery--button.active {
  background: #e03535;
  border-radius: 50px;
  width: 32px;
}

.gallery--button {
  width: 16px;
  height: 16px;
  margin: 0 0.25rem;
  border-radius: 50%;
  background: #3a3a3a;
  cursor: pointer;
}

.gallery--item {
  display: none;
}

.gallery--item,
.gallery--item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.gallery--item:nth-child(-n + 6) {
  display: block;
}

.footer {
  padding: 2rem 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--copyright {
  font-weight: 300;
  font-size: 12pt;

  color: #ffffff;
}

.footer--socials ul li {
  white-space: nowrap;
  padding: 0 1.5rem;
  display: inline-block;
}

.footer--link {
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
  text-decoration-line: none;
  margin-left: 1.5rem;
  color: #5e5e5e;
}


.popup--login {
  position: absolute;
  top: 5rem;
  width: 21.5rem;
  height: 25rem;
  right: 10.5rem;
}

.popup--content {
  padding: 1rem 2.25rem;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 10px;
}

.popup--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup--title {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
  margin: 0;
}

.popup--close {
  background: none;
  border: none;
  outline: none;
}

.popup--close:hover {
  cursor: pointer;
}

.popup--body {
  margin: 1.5rem 0;
}

.popup--body-item {
  margin: 0.5rem 0;
  position: relative;
}

.popup--body-item input {
  background: rgba(23, 23, 23, 0.3);
  border: 1px solid #454545;
  border-radius: 5px;
  width: 100%;
  padding: 0.75rem;
  padding-left: 3.5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
  line-height: 21px;
  color: #ffffff;
  transition: 0.5s;
}

.popup--body-item input::-webkit-input-placeholder {
  color: #444444;
}

.popup--body-item input:-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.popup--body-item input::-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.popup--body-item input:-ms-input-placeholder {
  color: #444444;
}

.popup--body-item input::-ms-input-placeholder {
  color: #444444;
}

.popup--body-item input::placeholder {
  color: #444444;
}

.popup--body-item::after {
  content: "";
  color: #2b2b2b;
  width: 1px;
  height: 70%;
  background: #2b2b2b;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 2.825rem;
  top: 50%;
  transform: translateY(-50%);
}

.popup--body-item::before {
  content: "";
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 1.025rem;
  top: 50%;
  transform: translateY(-50%);
}

.popup--input-login::before {
  width: 1rem;
  background-image: url("../../img/icons/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup--input-password::before {
  width: 1rem;
  background-image: url("../../img/icons/password-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup--body-item input:focus {
  border: 1px solid #7d7d7d;
  outline: none;
}

.popup--body-item input:focus + .popup--body-item::after {
  background: #fff;
}

.popup--footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup--button {
  width: 100%;
}

.popup--button-enter {
  background: #e03535;
  border: 1px solid #e03535;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  line-height: 21px;
  color: #ffffff;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.popup--reset-password {
  color: #5e5e5e;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 200;
  font-size: 10pt;
  line-height: 19px;
  color: #ffffff;
  letter-spacing: 0.2px;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #ffffff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.register--wrapper {
  background: url("../../img/bg-register-main.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.register--first {
  padding: 2rem 15rem;
}

@media(max-width: 1440px) {
  .register--first {
    padding: 2rem 5rem;
  }
}

.fRegister--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fRegister--header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.fRegister--title {
  text-align: center;
}


.fRegister--question-results-wrapper {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fRegister--question-results {
  text-align: center;
  font-weight: 400;
  font-size: 18pt;
}

.right--counter b {
  font-weight: 600;
  font-size: 24pt;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.right--counter {
  font-size: 18pt;
  color: #5e5e5e;
}

.fRegister--counter {
  text-align: right;
  font-weight: 600;
  font-size: 24pt;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.fRegister--counter span {
  font-size: 18pt;
  color: #5e5e5e;
}

.fRegister--question {
  width: 100%;
  min-height: 35rem;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  border-radius: 15px;
  align-items: flex-end;
}

.fRegister--question-text {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #4b4b4b;
  width: 100%;
  backdrop-filter: blur(25px);
  border-radius: 15px;
  padding: 0 1rem;
}

.fRegister--question-text p {
  font-weight: 300;
  font-size: 12pt;
  line-height: 200%;
  color: #ffffff;
}



.fRegister--answers {
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.fRegister--answer {
  min-width: 30%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
  color: #a4a4a4;
  font-weight: 400;
  padding: 0 0.75rem;
  text-align: center;
  cursor: pointer;
}

.fRegister--answer.selected {
  color: #ffffff;
  background: #1c1c1c;
  border: 1px solid #ffffff;
}

.fRegister--answer:nth-child(2) {
  margin: 0 2rem;
}

.fRegister--buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fRegister--button-secondary {
  background: #252525;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14pt;
  color: #ffffff;
  padding: 1rem;
  width: 12.5rem;
  text-align: center;
}

.fRegister--button-main.button-repeat {
  width: 15.5rem;
}

.fRegister--button-main {
  background: #e03535;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14pt;
  color: #ffffff;
  padding: 1rem;
  width: 12.5rem;
  cursor: pointer;
  text-align: center;
}

.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.register--bg img {
  height: 100%;
  width: 100%;
}

.register--content {
  margin: 0 15rem;
}

.register--header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.register--title {
  padding-top: 10rem;
}

.register--back {
  font-size: 10pt;
  color: #a4a4a4;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.register--back img {
  padding-right: 1rem;
}

.register--title h1,
.fRegister--title h1 {
  font-size: 28pt;
  line-height: 57px;
  font-weight: 500;

  color: #f8f8f8;
}

.form--input {
  max-height: 3.5rem;
}

.register--form {
  margin-bottom: 3rem;
}


.form--input-login input {
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 97%;
}

.form--input input {
  background: rgba(23, 23, 23, 0.3);
  border: 1px solid #454545;
  border-radius: 5px;
  width: 100%;
  padding: 0.75rem;
  padding-left: 3.5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
  line-height: 21px;
  color: #ffffff;
  transition: 0.5s;
}

.form--input input::-webkit-input-placeholder {
  color: #444444;
}

.form--input input:-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.form--input input::-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.form--input input:-ms-input-placeholder {
  color: #444444;
}

.form--input input::-ms-input-placeholder {
  color: #444444;
}

.form--input input::placeholder {
  color: #444444;
}

.form--input::after {
  content: "";
  color: #2b2b2b;
  width: 1px;
  height: 36px;
  background: #2b2b2b;
  position: relative;
  display: flex;
  align-items: center;
  top: -1.5rem;
  left: 3rem;
  transform: translateY(-50%);
}

.form--input::before {
  content: "";
  color: #fff;
  position: relative;
  min-height: 1.5rem;
  display: flex;
  top: 3rem;
  left: 1rem;
  align-items: center;
  transform: translateY(-50%);
}

.form--input-login::before {
  width: 1rem;
  background-image: url("../../img/icons/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form--input-password::before {
  width: 1rem;
  background-image: url("../../img/icons/password-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form--input-email::before {
  width: 1.5rem;
  left: 0.75rem;
  background-image: url("../../img/icons/email-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form--input input:focus {
  border: 1px solid #7d7d7d;
  outline: none;
}

.form--input input:focus + .form--input::after {
  background: #fff;
}

.form--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form--reset-password {
  font-weight: 300;
  color: #5e5e5e;
}

.form--button {
  margin-top: 1.5rem;
}

.form--button button {
  background: #e03535;
  border: 1px solid #e03535;
  border-radius: 10px;
  font-size: 12pt;
  line-height: 21px;
  color: #ffffff;
  display: block;
  padding: 0.75rem 0;
  text-align: center;
  width: 100%;
}

.profile--wrapper {
  background: url("../../img/bg-profile-min.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile--dropdown {
  position: absolute;
  top: 5rem;
  right: 15.5rem;
  flex-direction: column;
  background: #1c1c1c;
  border-radius: 10px;
  padding: 1rem 3rem 0.5rem 1rem;
}

.profile--dropdown.active {
  display: flex;
}

.dropdown--item {
  padding: 0.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  transition: 0.25s;
}

.dropdown--item:hover {
  cursor: pointer;
}

.dropdown--item a {
  font-size: 13pt;
}

.dropdown--item a img {
  margin-right: 1rem;
  max-width: 18px;
}

.characters--content {
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.characters--title {
  text-align: center;
  font-size: 26pt;
  font-weight: 500;
  padding-top: 5rem;
  color: #f8f8f8;
}

.character {
  cursor: pointer;
  max-width: 30rem;
  background: #181818;
  backdrop-filter: blur(25px);
  border-radius: 15px;
  overflow: hidden;
}

.character:hover .character--image img {
  transform: scale(1.125);
}

.character.create {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252525;
}

.character.ck {
  background: #e03535;
}

.character--text {
  background: rgba(17, 17, 17, 0.5);
  border: 1px solid #4b4b4b;
  backdrop-filter: blur(25px);
  min-height: 8rem;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character--text h4 {
  font-weight: 400;
  font-size: 20pt;
  margin: 1rem 0 0 0;
  color: #f8f8f8;
}

.character.ck .character--text span.character--status {
  color: #e03535;
}

.character--text h2 {
  font-weight: 400;
  font-size: 20pt;
  color: #f8f8f8;
}

.character--image.create-image {
  margin-bottom: 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.character--image {
  overflow: hidden;
  margin-bottom: -8rem;
}

.character--image img {
  transition: 0.35s ease-out;
  border-radius: 15px;
  width: 100%;
}

.character--image.create-image img {
  width: 50%;
}

.character:nth-child(2) {
  margin: 0 2rem;
}

.character--header {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character--back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12pt;

  color: #a4a4a4;
}

.character--back img {
  margin-right: 1rem;
}

.character--header h1 {
  font-weight: 500;
  font-size: 32pt;
  color: #f8f8f8;
}

.character--header-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character--edit {
  background: #1c1c1c;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  font-weight: 400;
  font-size: 12pt;
  color: #ffffff;
}

.character--edit img {
  width: 1rem;
  margin-right: 0.75rem;
}

.character--delete {
  border: 1px solid #e03535;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  color: #e03535;
  font-weight: 400;
  font-size: 12pt;
}

.character--tabs {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.character--tabs-wrapper {
  width: 50%;
}

.character--tabs-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.character--tabs-link {
  margin-left: 3rem;
  font-weight: 400;
  font-size: 12pt;
  color: #5e5e5e;
}

.character--tabs-link.active {
  color: #f8f8f8;
}

.character--main {
  width: 100%;
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.character--photo {
  float: left;
}

.character--photo img {
  width: 100%;
}

.character--info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 2px solid #1f1f1f;
}

.character--info-row p {
  margin-bottom: 1rem;
}

.character--info-row p:nth-child(1) {
  font-weight: 500;
  font-size: 15pt;
  color: #f8f8f8;
}

.character--info-row p:nth-child(2) {
  font-weight: 500;
  font-size: 12pt;
  color: #a4a4a4;
}

.character--tabs-content {
  margin-left: 10rem;
  width: 60%;
}

.character--tab {
  display: none;
}

.character--tab.active {
  display: block;
}

.property--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.property--header h3 {
  font-weight: 500;
  font-size: 15pt;
  color: #f8f8f8;
}

.property--header .tooltip {
  margin-left: 0.5rem;
  cursor: pointer;
}

.property--header .tooltip:hover .tooltip--wrapper {
  display: block;
}

.tooltip--wrapper {
  padding: 0 1rem;
  width: 15rem;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  position: absolute;
  display: none;
  transition: 0.25s;
}

.tooltip--wrapper p {
  font-weight: 400;
  font-size: 12pt;
  line-height: 150%;

  color: #a4a4a4;
}

.property--type {
  margin-bottom: 3.5rem;
}

.property--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.property--image {
  height: 80%;
  background: #252525;
  border-radius: 15px;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property--image.vehicle {
  padding: 2rem 0.25rem;
}

.property--item {
  margin-right: 2rem;
}

.property--item p {
  font-weight: 600;
  font-size: 12pt;
  text-align: center;
  color: #a4a4a4;
}

.property--item p span {
  font-weight: 400;
}

.coupons--wrapper,
.premium--wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 250px));
}

.coupon {
  margin-right: 4rem;
}

.coupon--image {
  background: url("../../img/icons/coupon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 100%;
}

.coupon--image img {
  width: 80%;
}

.coupon p,
.premium p {
  font-weight: 500;
  font-size: 12pt;
  text-align: center;

  color: #a4a4a4;
}

.premium--image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-tab p {
  font-weight: 500;
  font-size: 12pt;
  line-height: 160%;
  color: #a4a4a4;
}

.character--wrapper {
  padding: 1rem 10rem;
}

.create--body h2 {
  font-weight: 500;
  font-size: 15pt;

  color: #f8f8f8;
}

.create--item-feedback {
  color: #e03535;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  width: fit-content;
  display: none;
  border: 1px solid #e03535;
}

.create--body {
  padding: 8rem;
  font-weight: 500;
  font-size: 12pt;
  color: #f8f8f8;
}

.create--item {
  margin-bottom: 2.5rem;
  width: 100%;
  border: 1px solid #1f1f1f;
  backdrop-filter: blur(25px);
  padding: 3.25rem 5rem;
  border-radius: 20px;
}

.create--item.error {
  background: #140b0b;
  border: 1px solid #e03535;
}

.create--success {
  text-align: center;
  font-size: 18pt;
  color: #217a2f;
}

.create--item-label span {
  background: #e03535;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  margin-right: 2rem;
}

.create--item-content {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.create--item-content button.create--button-select {
  cursor: pointer;
  font-weight: 400;
  font-size: 12pt;
  line-height: 160%;
  text-align: center;
  color: #a4a4a4;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
  background: none;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  margin-right: 3rem;
  align-items: center;
}

.create--item-content button.active {
  border: 1px solid #fff;
  color: #fff;
}

.create--item-content button .tooltip {
  margin-left: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create--item-content input {
  padding: 0.75rem;
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
  line-height: 21px;
  color: #ffffff;

  background: #1c1c1c;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
}

.create--item-content textarea {
  padding: 0.75rem;
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
  line-height: 21px;
  color: #a4a4a4;
  width: 100%;
  background: #1c1c1c;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
  font-weight: 400;
  font-family: "SF Text", -apple-system, BlinkMacSystemFont, sans-serif;
  resize: none;
}

.create--item-content select {
  padding: 1rem;
  width: 17.5rem;
  font-style: normal;
  font-weight: 300;
  text-align-last: center;
  font-size: 12pt;
  line-height: 21px;
  color: #ffffff;
  outline: none;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
  overflow: hidden;
  background: url("../dist/img/icons/select-arrow-down.svg") no-repeat right
    #1c1c1c;
  font-weight: 400;
  font-size: 12pt;
  line-height: 160%;
}

.create--item-button {
  background: #e03535;
  border-radius: 10px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  font-size: 14pt;
  padding: 1rem 0;
}

.create--item-content select option {
  color: #a4a4a4;
  margin-bottom: 1rem;
}

.create--item-content input::-webkit-input-placeholder {
  color: #444444;
}

.create--item-content input:-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.create--item-content input::-moz-placeholder {
  color: #444444;
  opacity: 1;
}

.create--item-content input:-ms-input-placeholder {
  color: #444444;
}

.create--item-content input::-ms-input-placeholder {
  color: #444444;
}

.create--item-content input::placeholder {
  color: #444444;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal--inner {
  margin: 10% auto;
  padding: 4rem;
  border: 1px solid #888;
  max-width: 50rem;
  background: rgba(17, 17, 17, 0.5);
  border: 1px solid #4b4b4b;
  backdrop-filter: blur(25px);
  border-radius: 15px;
}

.modal--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--header h3 {
  text-align: center;
  font-weight: 600;
  font-size: 24pt;
  color: #f8f8f8;
}

.modal--body p {
  font-weight: 400;
  font-size: 16pt;
  line-height: 160%;
  text-align: center;
  color: #a4a4a4;
}

.modal--footer {
  min-width: 100%;
  display: flex;
}

.modal--button-close {
  background: #1c1c1c;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 16pt;
  line-height: 29px;
  color: #e9e9e9;
}

.modal--button-secondary {
  background: #1c1c1c;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 16pt;
  line-height: 29px;
  color: #ffffff;
}

.header--mobile {
  display: none;
}

.header--mobile button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.shop--bg {
  background: url("../../img/bg-shop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.shop {
  margin: 1rem 15rem;
}

.shop--tabs ul {
  padding: 0;
}

.shop--tabs ul li {
  display: inline-block;
  font-weight: 500;
  font-size: 14pt;
  color: #5e5e5e;
  margin-right: 4rem;
  cursor: pointer;
}

.shop--tabs ul li.active {
  color: #ffffff;
}

.shop--content {
  padding: 5rem 0;
}

.shop--item {
  background: rgba(17, 17, 17, 0.5);
  border: 1px solid #4b4b4b;
  backdrop-filter: blur(25px);

  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 3rem;
}

.shop--item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.shop--item-icon img {
  max-width: 100%;
}

.shop--item-title {
  font-weight: 500;
  font-size: 27pt;
  line-height: 43px;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shop--item-desc {
  font-weight: 500;
  font-size: 14pt;
  line-height: 34px;
  color: #5e5e5e;
}

.shop--item-title .tooltip {
  cursor: pointer;
  margin-left: 1.75rem;
}

.shop--item-prices {
  border-left: 1px solid #4b4b4b;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shop--item-price {
  font-size: 27pt;
  margin: 0 0 1.5rem 0;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.shop--item-button {
  font-weight: 500;
  font-size: 15pt;
  color: #ffffff;
  background: #e03535;
  border-radius: 10px;
  width: 15rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.shop--item-price span {
  font-weight: 700;
  color: #e03535;
}



.about--bg {
  background: url('../img/about-bg-1.svg') no-repeat;
  height: 100vh;
  background-position: top;
  background-size: cover;
}

.about__container {
  max-width: 1700px;
  margin: auto;
}

.main-screen__text p {
  font-size: 76px;
  transform: rotate(-9.335deg);
  font-weight: 700;
  color: #F8F8F8;
  transform-origin: 24%;
}


.main-screen__text h1 {
  color: #E03535;
  font-size: 180px;
  line-height: 65%;
  text-transform: uppercase;
}


.about__block {
  width: 304px;
  height: 66px;
  border-radius: 100px;
  background: #E03535;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__block {
  font-size: 30px;
  font-weight: 500;
}

.sub-main {
  margin-top: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rotate-left {
  transform: rotate(-1.606deg);
}

.about__text h2 {
  text-align: center;
  color: #A4A4A4;
  font-size: 70px;
  line-height: normal;
  margin-top: 33px;
}

.about__info {
  background: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 72px 0 0;
}

.about__info img {
  max-width: 100%;
}

.about__info .about__text {
  max-width: 1300px;
}

.rotate-right {
  transform: rotate(2.294deg);
}

.about__dark h2 {
  color: #000;
}

.lore {
  margin-top: 131px;
}

.lore__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lore__item {
  display: flex;
  flex-direction: column;
  max-width: 581px;
  align-items: center;
}


.lore__item:not(:last-child) {
  margin-right: 343px;
}

.lore__item p {
  margin-top: 49px;
  color: #A4A4A4;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
}

.about__manhattan-bg {
  background: url(../img/manhattan-bg.svg) no-repeat;
}

.about__brooklyn-bg {
  background: url(../img/brooklyn-bg.svg) no-repeat;
}

.about__manhattan-bg,
.about__brooklyn-bg {
  height: 100vh;
  margin-top: 105px;
  background-size: cover;
  background-position: top;
}

.city__text {
  color: #E03535;
  font-size: 70px;
  font-weight: 600;
  line-height: normal;
}

.city__top {
  display: flex;
  align-items: center;
}

.city__top p {
  margin: 0 24px;
}

.city__text h2 {
  font-size: 250px;
  text-transform: uppercase;
  margin: 0;
}


.about__role {
  margin-top: 210px;
  background: #151515;
}

.about__role-flex {
  padding: 72px 0 169px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__title {
  max-width: 1400px;
  text-align: center;
  margin: auto;
  font-size: 70px;
  margin: 92px 0 95px;
}

.about__title.title-role {
  margin: 33px 0 49px;
}

.about__role-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.about__role-item {
  max-width: 358px;
  width: 100%;
  background: #171717;
  border-radius: 15px;
  border: 1px solid #4A4A4A;
  margin-bottom: 33px;
  cursor: pointer;
}

.about__role-item:not(:last-child) {
  margin-right: 30px;
}

.about__role-item:nth-child(4) {
  margin-right: 0;
}

.about__role-header h3 {
  font-size: 30px;
  font-weight: 500;
  color: #F8F8F8;
  margin-left: 27px;
  max-width: 282px;
}

.about__role-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 29px 19px;
}

.about__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__nav-item {
  max-width: 874px;
  width: 100%;
  border-radius: 15px;
  background: #151515;
  display: flex;
}

.about__nav-item h3 {
  font-size: 70px;
  margin: 41px 0 0 71px;
}

.about__nav-item img {
  max-width: 496px;
  max-height: 588px;
}

.about__nav-item:nth-child(2) {
  margin-left: 30px;
  background: #E03535;
  align-items: flex-end;
}

.about__nav-item:nth-child(2) h3{
  margin: 0 0 28px 21px;
}


@media(max-width: 1780px) {
  .about__container {
    max-width: 1250px;
  }
  .main-screen__text h1 {
    font-size: 130px;
  }
  .about__text h2 {
    font-size: 55px;
  }
  .city__text h2 {
    font-size: 170px;
  }
  .about__role-item:nth-child(4) {
    margin-right: 30px;
  }
  .about__nav-item h3 {
    font-size: 40px;
  }
}

@media(max-width: 1440px) {
  .main-screen__text p {
    font-size: 56px;
  }
  .main-screen__text h1 {
    font-size: 100px;
  }
  .about__container {
    max-width: 1000px;
  }
  .about__text h2 {
    font-size: 41px;
  }
  .sub-main {
    margin-top: 70px;
  }
  .city__text h2 {
    font-size: 120px;
  }
  .city__top p {
    font-size: 40px;
  }
  .city__top img {
    height: 40px;
    width: 40px;
  }

  .lore__item img {
    width: 450px;
  }
  .about__role-item:nth-child(6),
  .about__role-item:nth-child(4),
  .about__role-item:nth-child(2) {
    margin-right: 0;
  }
  .about__title {
    font-size: 40px;
  }
  .about__nav-item img {
    max-height: 380px;
  }
}




.shop--item-title .tooltip:hover .tooltip--wrapper {
  display: block;
}

.about__launcher {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.about__title.about__launch_title {
  margin: 136px auto 142px;
}

.about__launcher__block {
  max-width: 1082px;
  border-radius: 15px;
  background: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  margin-bottom: 120px;
}

.about__launcher__block img {
  max-width: 532px;
  max-height: 385px;
  margin: 32px 0 36px;
}

.about__launcher__left {
  margin-right: 108px;
}

.about__launcher__left h3 {
  font-size: 40px;
  font-weight: 600;
  max-width: 320px;
  margin-bottom: 16px;
}

.about__launcher__left p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 94px;
}

.about__laucher__button {
  border-radius: 10px;
  background: #E03535;
  max-width: 303px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  padding: 22px 0;
}


@media(max-width: 1150px) {
  .about__container {
    max-width: 750px;
  }
  .main-screen__text p {
    font-size: 36px;
  }
  .main-screen__text h1 {
    font-size: 70px;
  }
  .about__text h2 {
    font-size: 31px;
  }
  .city__text h2 {
    font-size: 90px;
  }
  .about__launcher__left {
    margin-right: 60px;
  }
  .about__launcher__block img {
    max-width: 400px;
    max-height: 200px;
  }
  .about__laucher__button {
    margin-bottom: 30px;
  }
}

@media(max-width: 890px) {
  .about__nav-item img {
    max-height: 320px;
  }
  .about__nav-item h3 {
    margin: 4px 0 0 7px;
  }
  .about__nav-item:nth-child(2) h3 {
    margin: 0 0 15px 10px;
  }
}

@media(max-width: 828px) {
  .register--bg {
    display: none;
  }
  .register {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register--content {
    width: 80%;
  }
  .modal--inner {
    padding: 2rem;
  }
  .modal--header h3 {
    font-size: 24px;
  }
  .modal--body p {
    font-size: 16px;
  }
}

@media(max-width: 1550px) {
  .register--content {
    margin: 0 5rem 2rem;
  }
  .register--title {
    padding-top: 5rem;
  }
}

@media(max-width: 1162px) {
  .advantages {
    margin: -100px 10px 0;
  }
}

@media(max-width: 1678px) {
  .header--body {
    margin: 200px 100px;
  }
}


@media(max-width: 972px) {
  .shop--tabs ul li {
    font-size: 17px;
    margin-right: 2rem;
  }
}

@media(max-width: 1024px) {
  .shop--item-prices {
    border-left: unset;
    margin: 0 3rem;
  }
}


@media(max-width: 530px) {
  .register--first {
    padding: 2rem 1rem;
  }
}

@media(max-width: 627px) {
  .main-screen__text h1 {
    line-height: normal;
    text-align: center;
  }
  .main-screen__text p {
    margin: 16% 270px 0px 0;
  }
}

@media(max-width: 393px) {
  .main-screen__text p {
    margin: 16% 0px 0px 0;
  }
}

@media(max-width: 1820px) {
  .header--links ul li {
    padding: 0 30px;
  }
  .footer--socials ul li {
    padding: 0 1rem;
  }
}

@media (max-width: 1581px) {
  .footer--link {
    font-size: 14px;
  }
  .footer--copyright {
    font-size: 12px;
  }
}


@media(max-width: 1010px) and (min-width: 768px) {
  .header--links ul {
    padding: 0;
  }
  .header--links ul li a {
    font-size: 12px;
  }
  .header--socials ul {
    flex-direction: column;
  }
}

@media(max-width: 1570px) {
  .header--links ul li {
    padding: 0 21px;
  }
}

@media(max-width: 1430px) {
  .header--links ul li {
    padding: 0 17px;
  }
  .header--socials {
    margin: 0 2rem;
  }
  .footer--links {
    display: flex;
    flex-direction: column;
  }
  .footer--link {
    margin-bottom: 12px;
    margin-left: 0;
  }
  .footer--socials ul li {
    padding: 0 .7rem;
  }
}

@media(max-width: 1550px) {
  .shop {
    margin: 1rem 5rem;
  }
  .shop--item {
    padding: 3rem 0 3rem 1.25rem;
  }
}

@media(max-width: 1430px) {
  .header--links ul li {
    padding: 0 12px;
  }
  .header--socials {
    margin: 0 1rem;
  }
}


@media(max-width: 605px) {
  .city__text h2 {
    font-size: 70px;
  }
  .city__top p {
    margin: 0 5px;
  }
}


@media(max-width: 480px) {
  .about__text h2 {
    font-size: 20px;
  }
  .about__block {
    font-size: 16px;
    width: 200px;
    height: 50px;
  }
  .about__info {
    padding: 30px 0 0;
  }
  .city__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city__top img {
    width: 27px;
    height: 27px;
  }
  .city__top p {
    font-size: 27px;
  }
  .city__text h2 {
    font-size: 40px;
  }
  .about__manhattan-bg,
  .about__brooklyn-bg {
    height: 40vh;
  }
  .about__role-header h3 {
    font-size: 20px;
    max-width: 200px;
  }
  .about__role-img img {
    max-width: 105px;
  }
}


@media(max-width: 1640px) {
  .lore__item:not(:last-child) {
    margin-right: 200px;
  }
  .lore__item p {
    font-size: 26px;
  }
}

@media(max-width: 1375px) {
  .lore__item:not(:last-child) {
    margin-right: 70px;
  }
}

@media(max-width: 1250px) {
  .lore__item {
    max-width: 400px;
  }
  .lore__item p {
    font-size: 20px;
  }
  .lore__item img {
    width: 350px;
  }
}

@media(max-width: 900px) {
  .lore__item p {
    font-size: 15px;
  }
  .lore__item img {
    width: 200px;
  }
}


@media all and (min-width: 320px) and (max-width: 768px) {
  .header--menu,
  .gallery-header,
  .advantages--wrapper,
  .footer,
  .character--header,
  .character--header-button,
  .character--tabs,
  .character--tabs-wrapper,
  .character--main,
  .create--item-content,
  .header--links ul {
    flex-direction: column;
    padding: 0;
  }

  .footer--socials ul {
    padding: 0;
  }

  .header--menu {
    background: #1c1c1c;
  }

  .advantages,
  .video,
  .roles,
  .connect,
  .shop,
  .gallery,
  .footer,
  .character--wrapper,
  .create--body,
  .character--header,
  .character--tabs-content,
  .connect--wrapper {
    padding: 1rem;
    margin: 0;
  }

  .header--buttons {
    display: block;
    padding: 0 1rem 2rem 1rem;
  }

  .header--logo,
  .header--mobile,
  .header--links,
  .header--socials,
  .header--buttons {
    display: none;
    width: 100%;
  }

  .footer--copyright,
  .footer--links {
    text-align: center;
  }

  .gallery--content {
    padding-top: 2rem;
    grid-template-columns: 1fr;
  }

  .header--mobile {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header--socials ul {
    padding: 0;

    margin-bottom: 1rem;
  }

  .header--links ul li {
    margin: 1rem 0;
    border-bottom: 1px solid #3c3b3b;
    padding: 0.5rem 1rem;
  }

  .advantages--item:nth-child(2n) {
    margin: 1rem 0;
  }

  .header--mobile img {
    width: 2.5rem;
  }

  .popup--login {
    position: absolute;
    top: 15rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .header--body {
    margin: 2rem;
  }

  .header--links-item {
    font-size: 14pt;
  }

  .header--socials {
    width: 75%;
    margin: 1rem;
  }

  .profile--dropdown {
    position: inherit;
    background: none;
  }

  a.header--button {
    justify-content: center;
  }

  .connect--buttons {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header--subwrapper {
    width: 100%;
  }

  .header--links ul {
    display: block;
  }

  .connect--buttons a {
    width: 100%;
    text-align: center;
  }

  .connect--button-secondary {
    margin: 1rem 0 0 0;
  }

  .header--button-first {
    width: 100%;
    display: block;
    line-height: 50px;
    padding: 0;
  }

  .header--button-second {
    margin: 1rem 0;
    width: 100%;
    display: block;
    line-height: 50px;
    padding: 0;
  }

  .slider {
    margin-top: 5rem;
  }

  .header--subwrapper {
    padding-bottom: 2rem;
  }

  .header--buttons-item {
    width: 100%;
    padding: 1rem 0;
  }

  a.header--button-main {
    margin-left: 0;
    width: 100%;
    display: block;
    text-align: center;
  }

  .slider--wrapper {
    flex-direction: column-reverse;
  }

  .slider--image-content {
    border-radius: 20px;
    height: auto;
  }

  .character.create {
    display: block;
  }

  .character--text {
    position: inherit;
  }

  .slider--item {
    padding: 0;
  }

  .slider--image,
  .slider--content {
    width: 100%;
  }

  .header--body h1.header--title {
    font-size: 32px;
    word-wrap: break-word;
  }

  .characters--content {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  .character {
    width: 100%;
  }

  .character:nth-child(2) {
    margin: 1rem 0;
  }

  .character--image.create-image img {
    margin: 5rem 3rem;
  }

  .character--tabs-content {
    width: 100%;
  }

  .coupons--wrapper,
  .premium--wrapper {
    grid-template-columns: repeat(2, minmax(100px, 250px));
  }

  .premium--image img {
    max-width: 100%;
  }

  .coupon {
    margin: 0;
  }

  .character--info-row {
    grid-template-columns: 1fr;
  }

  .character--edit {
    margin: 0;
  }

  .character--delete {
    margin-bottom: 2rem;
  }

  .character--tabs {
    margin-top: 2rem;
  }

  .character--tabs-wrapper {
    display: block;
    width: 100%;
    margin: 2rem 3rem;
    border: 2px solid #1f1f1f;
    border-radius: 15px;
  }

  .character--tabs-link {
    font-size: 13pt;
    border-bottom: 2px solid #1f1f1f;
    padding: 1rem 0.75rem;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
  }

  .create--item {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .create--item-content button.create--button-select {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem 0;
  }

  .create--item-content input {
    width: 100%;
  }

  .shop--item {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .shop--item-content {
    width: 100%;
    margin-top: 1rem;
  }

  .shop--item-prices,
  .shop--item-icon {
    border-left: none;
    margin: 0;
  }

  .shop--tabs ul li {
    display: block;
    text-align: center;
    margin: 1rem 0;
  }

  .shop--item-title {
    font-size: 20pt;
  }

  .shop--item-title .tooltip {
    margin-left: 0.5rem;
  }

  .tooltip--wrapper {
    right: 0;
  }

  .fRegister--answers {
    flex-direction: column;
    align-items: center;
  }
  .fRegister--answer {
    width: 100%;
  }
  .fRegister--answer:nth-child(2) {
    margin: 2rem;
  }
  .fRegister--header {
    display: flex;
    flex-direction: column;
  }
  .fRegister--title h1 {
    margin: 0;
  }
  .fRegister--back {
    margin: 3rem 0 0;
  }
  .fRegister--buttons {
    flex-direction: column-reverse;
  }
  .fRegister--button-main {
    margin-bottom: .6rem;
  }
  .fRegister--button-main, .fRegister--button-secondary {
    width: 100%;
  }
  .about--bg {
    background-position: inherit;
  }
  .main-screen__text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-screen__text p {
    margin: 16% 498px 14px 0;
  }
  .main-screen__text h1 {
    margin-top: 0;
  }
  .lore__list {
    flex-direction: column;
    align-items: center;
  }
  .lore__item:not(:last-child) {
    margin-right: 0;
  }
  .lore__item img {
    width: 100%;
    max-width: 100%;
  }
  .about__title {
    font-size: 24px;
  }
  .about__role-item:not(:last-child) {
    margin-right: 0;
  }
  .about__role-list {
    flex-direction: column;
  }
  .about__nav-bottom {
    flex-direction: column;
  }
  .about__nav-item:nth-child(2) {
    margin-left: 0;
    margin-top: 30px;
  }
  .about__nav-item:nth-child(2),
  .about__nav-item {
    flex-direction: column;
    align-items: center;
  }
  .about__launcher__block {
    flex-direction: column;
  }
  .about__launcher__left {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__launcher__left h3 {
    text-align: center;
  }

}